#app {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

aside a.router-link-exact-active {
    color: #f3af1c;
    border-right: solid #f3af1c 4px;
}

.delete-enter-from,
.delete-leave-to {
    opacity: 0;
}

.delete-enter-to,
.delete-leave-from {
    opacity: 1;
}

.delete-enter-active,
.delete-leave-active {
    transition: all 0.2s ease-in;
}