#app {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

aside a.router-link-exact-active {
    color: #f3af1c;
    border-right: solid #f3af1c 4px;
}

/* .delete-enter-from, */
.delete-leave-to {
    opacity: 0;
}

/* .delete-enter-to, */
.delete-leave-from {
    opacity: 1;
}

.delete-enter-active,
.delete-leave-active {
    transition: all 0.2s ease-in;
}

.delete-enter-active {
    animation: wobble .5s ease;
}

@keyframes wobble {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateX(4px);
    }

    60% {
        transform: translateX(8px);
    }

    70% {
        transform: translateX(-8px);
    }

    80% {
        transform: translateX(4px);
    }

    90% {
        transform: translateX(-4px);
    }

    100% {
        transform: translateX(0px);
    }
}


.features-leave-from,
.features-enter-to {
    opacity: 1;
    transform: scale(1);
}

.features-leave-to,
.features-enter-from {
    opacity: 0;
    transform: scale(0.6);
}


.features-leave-active {
    position: absolute;
    transition: all .3s ease-in-out;
}

.features-enter-active {
    transition: all .4s ease;
}

.features-move {
    transition: all 0.3s ease;
}